
@{
    ViewBag.Title = "Index";
}

<h1>Upload a Batch File</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Upload a batch file to insert records into the butterfly tracking repository There are two types of files you can insert:
                <ul>
                    <li>Users batch file</li>
                    <li>Sightings  batch file</li>
                </ul>
             </p>
        </div>
        <div class="col-md-6">
            <h2>Users Batch File</h2>
            <p>
                The users batch file allows you to create new entities that can sight and log butterflies. This batch file creates new:
                <ul>
                    <li>Reporters</li>
                    <li>Taggers</li>
                    <li>Machine monitors</li>
                </ul>
                <a class="btn btn-primary" href="@Url.Action("Index", "UserFileUploads")" role="button">Upload users batch file</a>
            </p>

            <h3>Users.txt file defintion</h3>
            <table class="table table-striped">
                <tr>
                    <th>Column Name</th>
                    <th>Length</th>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Street Address</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Postalcode</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Username or uniquename</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Home phone</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Cell phone</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Organization</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th>Total record width</th>
                    <th>292</th>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Sightings Batch File</h2>
            <p>
                The sightings batch file allows you to create new sighting events and new tagging events. This batch files creates new:
                <ul>
                    <li>Reporter sightings</li>
                    <li>Machine monitors</li>
                    <li>New butterfly tags</li>
                </ul>
                <a class="btn btn-primary" href="@Url.Action("Index", "SightingFileUploads")" role="button">Upload sightings batch file</a>
            </p>

            <h3>Sightings.txt file defintion</h3>
            <table class="table table-striped">
                <tr>
                    <th>Column Name</th>
                    <th>Length</th>
                </tr>
                <tr>
                    <td>Event</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Username or uniquename</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>DateTime</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Species</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Tag</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th>Total record width</th>
                    <th>200</th>
                </tr>
            </table>
        </div>
    </div>
</div>
