@model Monarch.Models.ButterflyTrackingContext.SightingFileUpload

@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<table>
    @foreach (var error in Model.Log)
    {
        <tr><td>@error.Error</td></tr>
    }
</table>

